body {
    background-image: url('../image/buildings.jpg');
    background-size: cover;
    background-attachment: fixed;

}

.content {
    max-width: 800px;
    margin: auto;
    background-color: rgba(255, 255, 255, .8);
    padding: 30px;
}

.site_name {
  background-color: palevioletred;  
  color: azure;
  text-align: center;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: Verdana;
  font-weight: 600;
  font-size: 50px;
}

.section_heading {
    font-family: Helvetica;
}

.nav_bar {
    text-decoration: none;
    color: black;
    margin-right: 30px;
    font-size: 20px;
    font-family: Helvetica;
    text-align: center;
}

.theme_img {
    text-align: center;
}

img {
    width: 500px;
}
/*why can't I put the width inside the .theme_img brackets above?*/

.first_column {
    text-align: center;
}

td, th {
    border: 1px solid #6b1515;
    text-align: left;
    padding: 10px;
  }
  /*How do I assign classes to the table parts when the first column
  has a different formatting then the rest*/

.course_table {
    font-family: Arial;
    border-collapse: collapse;
    width: 100%;
  }


.form {
    border: 1px solid #6b1515;
    }
    
.label_form {
    width: 100px;
    display: inline-block;
    font-family: Arial;
}

.textarea_form {
    width: 300px;
}