body {
    background-color: rgb(236, 223, 226);
}

h1 {
  background-color: #6b1515;  
  color: azure;
  text-align: center;
}

td, th {
    border: 1px solid #6b1515;
    text-align: left;
    padding: 1px;
  }

  table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
  }

img {
    width: 500px;
}

label {
    width: 100px;
    display: inline-block;
}

input, textarea {
    width: 300px;
}